.LoginContainer{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.LoginContainer h1 {
    margin-bottom: 10px;
}

.LoginContainer span {
    font-size: 1.5em;
}

.LoginContainer .login-form {
    display: flex;
    flex-direction: column;
}

.LoginContainer label {
    margin-top: 10px;
    text-align: left;
}

.LoginContainer input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.LoginContainer input[type="checkbox"] {
    margin-top: 10px;
}

.LoginContainer button {
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.LoginContainer a {
    text-decoration: none;
    color: #007bff;
}

.LoginContainer a:hover {
    text-decoration: underline;
}
