#StockDuration{
    width:80%;
    padding:10px;
    display:flex;
    margin:auto;
    justify-content: center;
}
#StockDuration button{
    margin:2px 40px;
    border:0px;
    color:black;
    background-color: rgb(243 243 243);
    padding:3px;
    border-radius:10px;
}